.footer {
    background-color: #0f1c1c;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 30px;
  }
  
  .footer-logo h2 {
    font-size: 28px;
    margin-bottom: 8px;
    color: #d1a137;
  }
  
  .footer-logo p {
    font-size: 14px;
    color: #ccc;
  }
  
  .footer-nav {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-nav a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-nav a:hover {
    color: #d1a137;
  }

  .social-wrapper{
    display: flex;
    gap: 16px;
  }

  .social-icon-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }
  
  .footer-social a {
    color: #fff;
    font-size: 16px;
    transition: transform 0.3s, color 0.3s;
  }
  
  .footer-social a:hover {
    color: #d1a137;
    transform: scale(1.2);
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: #aaa;
    opacity: 0.8;
  }

  .footer-hashtag{
    text-align: right;
  }

  .subscribe-email{
    display: flex;
    flex-direction: column;
  }
  
  .subscribe-email h2 {
    color: #fff; /* Warna teks di atas input */
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .subscribe-email form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Jarak antara input dan tombol */
    flex-wrap: wrap;
  }
  
  .email-input {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    width: 25vw;
    outline: none;
    transition: 0.3s;
  }
  
  .email-input:focus {
    box-shadow: 0 0 5px #00bcd4;
  }
  
  .subscribe-btn {
    padding: 10px 20px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .subscribe-btn:hover {
    background-color: #0097a7;
  }
  

  /* Responsive */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-nav {
      justify-content: center;
      margin: 15px 0;
    }
  }
  

